body {
  width: 80%;
  margin: auto;
  margin-top: 12px;
}

td {
  padding: 12px;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: orange;
}

.div-row {
  font-size: 12px;
}

.div-amount {
  text-align: right;
}

.div-donor {
  font-size: 18px;
  font-weight: bold;
}

.div-project {
  font-size: 24px;
  width: 60%;
}

.div-unit {
  color: gray;
  font-size: 9px;
  text-align: right;
}

.div-date {
  font-size: 12px;
  color: gray;
}
