body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  width: 70%;
  margin: auto;
  margin-top: 12px;
}

td {
  padding: 12px;
  padding-top: 24px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: orange;
}

.div-row {
  font-size: 12px;
}

.div-amount {
  text-align: right;
}

.div-donor {
  font-size: 18px;
  font-weight: 400;
}

.div-project {
  font-size: 24px;
}

.div-unit {
  color: gray;
  font-size: 9px;
  text-align: right;
}

.div-date {
  font-size: 12px;
  color: gray;
}

.div-last-updated {
  text-align: center;
  font-size: 12px;
  color: gray;
}

.div-objectives {
  color: lightgray;
}
